ion-content{
  --background: white;
  min-width: 375pt;
  min-height: 667pt;
  max-width: 375pt;
  max-height: 667pt;
}
ion-img{
    width: 125.97pt;
    height: 154.7pt;
}
ion-title{
  color: #1EEA00;
  font-family: monospace;
  align-items: center;
}
